<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060888139803-cpfk896ji570jopqlbjtkevl1fc7s0h7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060888139803-cpfk896ji570jopqlbjtkevl1fc7s0h7</string>
	<key>API_KEY</key>
	<string>AIzaSyCWCPr8xBSPBf1KRnBlQfN5MLwMrJiq_HQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1060888139803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NateW.BoostCO</string>
	<key>PROJECT_ID</key>
	<string>boostco-25dfc</string>
	<key>STORAGE_BUCKET</key>
	<string>boostco-25dfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060888139803:ios:b470682c0f9aa8658e40be</string>
</dict>
</plist>